body {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  background-color: var(--background-color);
}

/*-- reset start --*/
:root {
  --brand-color: #212121;
  --gray-color: #757575;
  --blue-color: #2196f3;
  --gray-btn-colot: #f5f4fa;
  --background-color: #ffffff;
  --background-footer: #2f303a;
  --border-color: #eeeeee;
  --items: 3;
  --items-4: 4;
  --items-5: 5;
  --indent: 30px;
  --indent-8: 8px;
  --indent-50: 50px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  color: currentColor;
}

.list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.border-box {
  box-sizing: border-box;
}

/*-- reset end --*/

/*-- Containers start--*/

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header-container {
  display: flex;
  align-items: center;
}

.hero-container {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.what-we-do-container {
}

.portfolio-container {
}
.portfolio-container-btm {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.footer-container {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
/*-- Containers end--*/

/*-- Шапка сторінки -*/
.header {
  background: var(--background-color);
  border-bottom: 1px solid #ececec;
}

/*-- Лого --*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--blue-color);
  margin-right: 93px;
}

.logo-header {
  color: var(--brand-color);
}

/*-- Навігація на інші сторінки --*/
.contact-box {
  margin-left: auto;
}

.nav-list-box {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.nav-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.studia-open {
  color: var(--blue-color);
}

.portfolio-open {
  color: var(--blue-color);
}
.nav-item {
}

.nav-link {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--blue-color);
}

/*-- Посилання на соцмережі --*/

.contact-list {
  margin-right: auto;
  display: flex;
  gap: 50px;
}

.contact-item {
}

.contact-link {
  display: block;
  padding-top: 33px;
  padding-bottom: 33px;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--blue-color);
}

/*-- Головна Сторінки--*/

/*-- Шапка --*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--indent);
}
.benefits-item {
  flex-basis: calc((100% - var(--indent) * (var(--items) - 1)) / var(--items));
}

.box-items {
  flex-basis: calc(
    (100% - var(--indent) * (var(--items-4) - 1)) / var(--items-4)
  );
}

.hero {
  background: var(--background-footer);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  display: block;

  margin: 0 auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  margin-bottom: 30px;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  padding: 10px 32px;
  color: var(--background-color);
  background-color: var(--blue-color);
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*-- Особливості --*/
.section-features {
}

.section-features-list {
  display: flex;
  align-items: flex-start;
}

.about-right-side {
  width: 1170px;
}

.section-features-item {
}
.section-features-list-titel {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features-list-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/*-- Чим ми займаємося --*/
.section-what-we-do {
  padding-bottom: 94px;
}

.section-titel {
  font-size: 36px;
  margin-bottom: 50px;
  text-align: center;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
}

.section-what-we-do-title {
}

.section-what-we-do-list {
}

/*-- Наша команда --*/
.section-our-team {
  background: var(--gray-btn-colot);
}

.section-our-team-titel {
}

.section-our-team-list {
}

.photo {
  margin-bottom: 30px;
}
.for-box {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 70px;
  margin-right: 70px;
}
.section-our-team-item {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-our-team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team-position {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/*-- Підвал сторінки --*/
.footer {
  background: var(--background-footer);
}

.footer-logo-box {
  margin-bottom: 20px;
}
.footer-logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.footer-logo {
  color: var(--background-color);
}

.footer-info {
}
.footer-contact-list {
  width: 213px;
  display: block;
}

.footer-contact-item {
  margin-bottom: 9px;
}

.footer-contact-item:last-child {
  margin-bottom: 0px;
}
.footer-contact-adress {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-contact-adress:hover,
:focus {
  color: var(--blue-color);
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.footer-contact-link:hover,
:focus {
  color: var(--blue-color);
}

/*-- Портфоліо --*/
.portfolio {
}

.section-portfolio {
  padding-top: 88px;
  padding-bottom: 100px;
}

/*-- Фільтри --*/
.section-portfolio-filter-list {
  display: inline-flex;
  align-self: center;
  gap: var(--indent);
}

.section-portfolio-filter-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  color: var(--brand-color);
  background: var(--gray-btn-colot);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: none;
  flex-basis: calc(
    (100% - var(--indent-8) * (var(--items-5) - 1)) / var(--items-5)
  );
}

.section-portfolio-filter-btn:hover,
:focus {
  background: var(--blue-color);
  color: var(--background-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*-- Проекти --*/

.box-card {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid var(--border-color);
  border-left: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
}

.section-portfolio-list {
}
.section-portfolio-item {
  box-sizing: border-box;
  width: 370px;
  background: var(--background-color);
}

.section-portfolio-item-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.section-portfolio-item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
