body {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  background-color: var(--background-color);
}

:root {
  --brand-color: #212121;
  --gray-color: #757575;
  --blue-color: #2196f3;
  --gray-btn-colot: #f5f4fa;
  --background-color: #ffffff;
  --background-footer: #2f303a;
  --border-color: #eeeeee;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

/*-- Шапка сторінки -*/
.header {
  background: var(--background-color);
}

/*-- Лого --*/
.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.logo-header {
  color: var(--brand-color);
}

/*-- Навігація на інші сторінки --*/
.nav-list {
}

.nav-item {
}

.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--brand-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--blue-color);
}

/*-- Посилання на соцмережі --*/
.contact-list {
}

.contact-item {
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--gray-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--blue-color);
}

/*-- Головна Сторінки--*/

/*-- Шапка --*/
.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color);
  background: var(--blue-color);
  cursor: pointer;
}

/*-- Особливості --*/
.section-features {
}

.section-features-title {
}

.section-features-list {
}

.section-features-list-titel {
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-features-list-text {
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/*-- Чим ми займаємося --*/
.section-what-we-do {
  width: 1170px;
}

.section-what-we-do-title {
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;
}

.section-what-we-do-list {
}

/*-- Наша команда --*/
.section-our-team {
  width: 1600px;
  background: var(--gray-btn-colot);
}

.section-our-team-titel {
}

.section-our-team-list {
}

.section-our-team-item {
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-our-team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
}

.section-our-team-position {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

/*-- Підвал сторінки --*/
.footer {
  background: var(--background-footer);
}

.footer-logo-web {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--blue-color);
}

.footer-logo {
  color: var(--background-color);
}

.footer-contact-list {
}

.footer-contact-item {
}

.footer-contact-adress {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.footer-contact-adress:hover,
:focus {
  color: var(--blue-color);
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}

.footer-contact-link:hover,
:focus {
  color: var(--blue-color);
}

/*-- Портфоліо --*/
.portfolio {
  background: var(--background-color);
}

.section-portfolio {
}

/*-- Фільтри --*/
.section-portfolio-filter-list {
}

.section-portfolio-filter-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  letter-spacing: 0.03em;
  background: var(--gray-btn-colot);
  border-radius: 4px;
  cursor: pointer;
}

.section-portfolio-filter-btn:hover,
:focus {
  background: var(--blue-color);
}

/*-- Проекти --*/
.section-portfolio-list {
}
.section-portfolio-item {
  box-sizing: border-box;

  width: 370px;
  height: 404px;
  background: var(--background-color);
  border-bottom: 1px solid var(--border-color);
}

.section-portfolio-item-title {
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--brand-color);
}

.section-portfolio-item-text {
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--gray-color);
}
